body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    counter-reset: h1counter;
}

blockquote {
    border-left: 4px solid #c4c4c4;
    margin-left: 0px;
    padding: 1px 1em;
    color: #6d6d6d;
}

div#header {
    border-bottom: 2px solid black;
    padding: 12px 0px 12px 0px;
    /*margin:5px;*/
    max-width: 1200px;
    margin: auto;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#content {
    /*margin:5px;*/
    max-width: 1200px;
    margin: auto;

}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    padding: 12px 0px 12px 0px;
    text-align: right;
    /*margin:5px;*/
    max-width: 1200px;
    margin: auto;

}
h1 {
    font-size: 24px;
    counter-reset: h2counter;
    margin-block-end: 0.2em;
}
h1:before {
    color: #888;
    content: counter(h1counter) ".\0000a0\0000a0";
    counter-increment: h1counter;
}
h1.nocount:before {
    content: none;
    counter-increment: none;
}

h2 {
    font-size: 20px;
    counter-reset: h3counter;
    margin-block-end: 0.2em;
}
h2:before {
    color: #888;
    content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}
h2.nocount:before {
    content: none;
    counter-increment: none;
}

h3 {
    font-size: 16px;
    margin-block-end: 0.2em;
}
h3:before {
    color: #888;
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}
h3.nocount:before {
    content: none;
    counter-increment: none;
}

table {
    width: 100%;
}
tbody {
    font-size: small;
}
tr.header {
    background: #c9c9d9;
}

tr.odd {
    background: #ffffff;
}

tr.even {
    background: #f0f0f0;
}
td {
    padding: 4px 10px;
}


div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

section {
	margin-bottom:30px;
}
a {
	color: #00b6ff;
}

p {
    margin-block-start: 0.2em;
    padding-left: 0.1em;
}

pre {
	padding: 20px;
	background: #353535;
	color: #fff;
	font-size: small;
}
